<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TODO LIST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="nombre.value" placeholder="nombre de tarea" >
  </ion-input><br>
  <ion-input [(ngModel)]="fecha.value" placeholder="fecha de tarea" type="date"></ion-input><br>
    <ion-button (click)="a()">agregar tarea</ion-button>
    <div *ngFor="let x of lol ">
      <h3>{{x.nombre}}</h3>
      <h3>{{x.fecha}}</h3>
      <ion-checkbox>hecho</ion-checkbox>
    </div>
</ion-content>
